<div class="modal-backdrop" (click)="close.emit()"></div>

<div class="modal">
    <form (ngSubmit)="submit()">
        <h2>Criar Task</h2>

        <label for="title">Título</label>
        <input [(ngModel)]="title" name="title" type="text" required>

        <label for="description">Descrição</label>
        <textarea [(ngModel)]="description" name="description"></textarea>

        <label>
            <input type="checkbox" [(ngModel)]="completed" name="completed">
            Completa
        </label>

        <label>Status</label>
        <select [(ngModel)]="status" name="status">
            <option value="todo">A Fazer</option>
            <option value="in-progress">Em Progresso</option>
            <option value="done">Concluído</option>
        </select>

        <div class="buttons">
            <button type="submit">Criar</button>
            <button type="button" (click)="close.emit()">Cancelar</button>
        </div>
    </form>
</div>