.app-container {
    display: flex;

}

.sidebar {
    width: 250px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.custom-task-dialog {
    .mat-mdc-dialog-container {
        background-color: #1e1e2f !important;
        color: #e0e0ff !important;
        border-radius: 12px !important;
        padding: 1.5rem !important;
    }

    h2 {
        color: #dcd6f7 !important;
        margin-bottom: 0.75rem;
    }

    p {
        color: #e0e0ff !important;
        margin-bottom: 0.5rem;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1.5rem;

        button[color="warn"] {
            background-color: #f44336 !important;
            color: #fff !important;
        }

        button[mat-button] {
            color: #b799f7 !important;
        }
    }
}