<div class="login-container" *ngIf="!isRegister">
    <h1>Login</h1>
    <form (ngSubmit)="submit()">
        <input [(ngModel)]="email" name="email" type="email" required placeholder="E-mail">
        <input [(ngModel)]="password" name="password" type="password" required placeholder="Senha">

        <button type="submit">Login</button>
    </form>
    <a class="register-button" (click)="openRegister()">Registre-se</a>
</div>

<div class="modal login-container" *ngIf="isRegister">
    <div class="modal-content">
        <span class="close" (click)="closeRegister()"><mat-icon>arrow_back</mat-icon></span>
        <h1>Registrar</h1>
        <form (ngSubmit)="submitRegister()">
            <input [(ngModel)]="email" name="email" type="email" required placeholder="E-mail">
            <input [(ngModel)]="password" name="password" type="password" required placeholder="Senha">

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>